@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import "./header";
@import "./section2";
@import "./icons";
@import "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  background: url("./images/bg-header-mobile.png");
  background-size: 100% auto;
  background-position: top;
  padding: 4rem 2rem;
  padding-bottom: 0;
  text-align: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.green {
  background-color: $Strong-Cyan;
  box-shadow: 0px 5px 10px 0 hsla(171, 66%, 44%, 0.507);
  &:hover {
    cursor: pointer;
    background-color: hsl(171, 66%, 54%);
  }
}

.purple {
  background-color: $Light-Blue;
  &:hover {
    cursor: pointer;
    background-color: hsl(233, 100%, 79%);
  }
}

input[type="button"] {
  padding: 1rem 2rem;
  font-family: "Bai Jamjuree", sans-serif;
  border-radius: 5rem;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  padding-top: 4rem;
  color: $Dark-Grayish-Blue;
  font-size: 1.563rem;
}

h4 {
  padding-top: 2rem;
  color: $Dark-Grayish-Blue;
  font-size: 1.25rem;
}
p {
  color: $Grayish-Blue;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
}

img {
  padding-top: 4rem;
}
.normal {
  width: 100%;
}

section {
  padding-bottom: 8rem;
}
.header,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  header {
    h3 {
      font-size: 2.441rem;
    }
  }
  body {
    background: url("./images/bg-header-desktop.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
  }
  p {
    max-width: 55ch;
    line-height: 2rem;
  }

  .buttons {
    display: flex;
    gap: 1rem;
  }

  .section2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: left;
    img {
      transform: translateX(-5rem);
    }
    p {
      max-width: 42ch;
    }
  }
  .il2 {
    max-width: 60vw;
  }
  .cards {
    display: flex;
    gap: 2rem;
    margin: 0 10vw;
  }

  .icons {
    flex-direction: row;
    gap: 5rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }
  p {
    font-size: 1.25rem;
  }

  input[type="button"] {
    font-size: 1.25rem;
  }
  footer {
    text-align: left;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    .center {
      display: flex;
      gap: 5rem;
      align-items: flex-start;
    }
    .logo {
      padding-top: initial;
      margin-right: 5rem;
    }
    .socials {
      margin-left: 5rem;
    }
  }
}
